@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
html{ background-color:rgb(255, 254, 248);}
body{display:grid;
     grid-template-rows: 0.5fr auto 0.1fr; grid-row-gap: 20px;
	 grid-template-columns:0.4fr 2fr 0.4fr;}
body{font-family: "Gaegu", sans-serif; color:white;
  	 font-weight: 400; font-size:25px; font-style: normal;}
  	 
  	 

header{grid-row: 1/2; grid-column: 2/3;
       display:grid; grid-template-columns: 20% 40% 20%}
.h_left{margin-left:20%;margin-top:10%;}
.h_right{margin-top:10%;display:flex;}
.h_right>div>p {color:black; font-size:20px; width:200px; margin-right:-10px;}


.main{grid-row: 2/3; grid-column: 2/3;
	  background-color:rgb(161, 161, 224);
      border-radius: 6px; border-color:#D19ECB;
      display: flex; justify-content:center; align-items:center;
      padding-top:5%; padding-bottom:5%;
     }

.user>ul{display:flex; flex-direction:column;
		list-style:none; font-size:30px;
		text-decoration: underline; text-decoration-color: white;
		padding-left:20%; padding-top:5%;}
.user>ul>li{padding-top:2%;}

.none_user{display:flex; flex-direction:column;
			justify-content:center; align-items:center;
			padding-top:5%;}
#title{width:700px;height:50px;}
textarea{width:700px;height:1000px;font-family: "Gaegu", sans-serif;
  	 font-weight: 400; font-size:25px; font-style: normal;
  	 border-radius:6px; border:2px solid white;}
input:not(.button){border-radius:6px; border:2px solid white;
					font-family: "Gaegu", sans-serif;
  	 font-weight: 400; font-size:25px; font-style: normal;}						 
.button{position: relative; display: inline-block;
        padding: 3px 18px; margin: 20px 10px 10px;
        transition: top .01s linear;
    	border-radius: 6px; border-color:#D19ECB;
   		text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    	background-color: #cb99c5;
    	box-shadow: 0 0 0 1px #cb99c5 inset,
        			0 0 0 2px rgba(255,255,255,0.15) inset,
        			0 8px 0 0 rgba(189, 142, 183, .7),
        			0 8px 0 1px rgba(0,0,0,.4),
        			0 8px 8px 1px rgba(0,0,0,0.5);
    	font-size: 20px; color: white; text-align: center;
	  	font-family: "Gaegu", sans-serif; font-weight: 400; font-style: normal;
	  	cursor:pointer;}
.button:hover {background-color: #D19ECB;}
.button:active {top: 9px; box-shadow: none;}

a{text-decoration: none; color: inherit;}

footer{grid-row: 3/4; grid-column: 2/3;
		display:flex; justify-content:center; 
		align-items:center;padding-top:10%;}
.f_center{color:black;margin-left:10%; font-size:20px;}  