@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
html{ background-color:rgb(255, 254, 248);}
body{display:grid;
     grid-template-rows: 0.3fr 0.2fr 1.5fr auto 1fr; grid-row-gap: 20px;
	 grid-template-columns:0.4fr 2fr 0.4fr;
	  background-color:rgb(255, 254, 248);
	 }
body{font-family: "Gaegu", sans-serif; color:white;
  	 font-weight: 400; font-size:27px; font-style: normal;}

header{grid-row: 1/2; grid-column: 2/3;
       display:grid; grid-template-columns: 20% 40% 20%}
.h_left{margin-left:20%;margin-top:10%;}
.h_right{margin-top:10%;display:flex}
#welcome {color:black; font-size:20px; width:200px; margin-right:-10px;}
		
.menu{grid-row: 2/3; grid-column: 2/3;
 	  display: flex; justify-content:space-around;
      background-color:rgb(161, 161, 224); border-radius: 6px; border-color:#D19ECB;}
.menu ol {padding-left: 0; /* 왼쪽 들여쓰기 제거 */}
.menu>ol>li{margin-top:10px; display:none;}
.menu>ol:hover >li{display:block;}

.center{grid-row: 3/4; grid-column: 2/3; 
		margin-top:5%; margin-bottom:5%;
        display: flex;justify-content: center;}

.main{grid-row: 4/5; grid-column: 2/3;
	  background-color:rgb(161, 161, 224);border-radius: 6px; border-color:#D19ECB;}
	  
.main>div{margin-top:30px; text-align:center;font-size:30px; font-weight:bold;}

ul{list-style:none;}

#today_pick{display:flex;
		 justify-content:space-around;
		 flex-wrap: wrap;align-items: flex-start;
    	 padding:5% 5% 5% 5%;}
.img>img{width:250px; height:250px; cursor: pointer;
		border-radius:6px; border:2px solid white;}


a{font-size:23px;
	  text-decoration: none;
  	  color: inherit;
  	  }
  	  
  	  
footer{grid-row: 5/6; grid-column: 2/3;
		display:flex; justify-content:center; 
		align-items:center; padding-top:10%;}
.f_center{color:black;margin-left:10%; font-size:20px;}  	


.button{position: relative; display: inline-block;
        padding: 3px 18px; margin: 20px 10px 10px;
        transition: top .01s linear;
    	border-radius: 6px; border-color:#D19ECB;
   		text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    	background-color: #cb99c5;
    	box-shadow: 0 0 0 1px #cb99c5 inset,
        			0 0 0 2px rgba(255,255,255,0.15) inset,
        			0 8px 0 0 rgba(189, 142, 183, .7),
        			0 8px 0 1px rgba(0,0,0,.4),
        			0 8px 8px 1px rgba(0,0,0,0.5);
    	font-size: 20px; color: white; text-align: center;
	  	font-family: "Gaegu", sans-serif; font-weight: 400; font-style: normal;
	  	cursor:pointer;}
.button:hover {background-color: #D19ECB;}
.button:active {top: 9px; box-shadow: none;}  
