<!DOCTYPE html>
<html lang="ko" xmlns:th="thymeleaf.org">
<head>
<meta charset="utf-8">
<title>관리자 메뉴</title>
<link rel="stylesheet" type="text/css" href="/css/menu_3.css">
</head>
<body>
    
	 <header>   
       <div class="h_left">
            <div><a href="/admin/admin_menu"><img src="/img/logo/logo_small.png"></a></div>
       </div>

       <div class="h_center" th:if="${admin!=true}">
       		<div>관리자 전용 페이지 입니다</div>
       </div>


       <div class="h_right"   th:if="${admin!=true}"  style="margin-left:90%;">
            <div><a href="/join/join_main"><input class="button" type="button" value="회원가입"></a></div>
            <div><a href="/login/login_main"><input class="button" type="button" value="로그인"></a></div>
       </div>
       <div class="h_center"></div>
       <div class="h_right"  th:if="${admin==true}">
            <div><p>관리자 <span th:text="${username}"></span>님!</p></div>
            <form action="/login/logout" method="post"><div><input class="button" type="submit" value="로그아웃"></div></form>
       </div>
    </header>
	
	
    <div class="main" th:if="${admin==true}">
		<h2><img src="/img/logo/pink_dice.png">상품 조회, 등록, 삭제</h2>
		
			<h3>현재 상품 목록</h3>
			<table id="product" class="product_table">	
			    <tr>
			        <th>s_n</th>
			        <th>이름</th>
			        <th>가격</th>
			        <th>수량</th>
			        <th>인원(a_1)</th>
			        <th>나이(a_2)</th>
			        <th>시간(a_3)</th>
			        <th>링크</th>
			    </tr>
			    <tr th:each="item : ${products}">
			        <td th:text="${item.s_n}"></td>
			        <td th:text="${item.name}"></td>
			        <td th:text="${item.price}"></td>
			        <td th:text="${item.quantity}"></td>
			        <td th:text="${item.a_1}"></td>
			        <td th:text="${item.a_2}"></td>
			        <td th:text="${item.a_3}"></td>
			        <td class="link-column" th:text="${item.link}"></td>
			    </tr>
			</table>
				
		<h3>상품 추가</h3>	
		<form action="/admin/addProduct" method="post" id="add_form">
            <label for="name">s_n:</label>
            <input type="text" id="add_s_n" name="s_n"><br>		
            <label for="name">이름:</label>
            <input type="text" id="add_name" name="name"><br>
            <label for="price">가격:</label>
            <input type="text" id="add_price" name="price"><br>
            <label for="quantity">수량:</label>
            <input type="text" id="add_quantity" name="quantity"><br>
            <label for="a_1">인원:</label>
            <input type="text" id="add_a_1" name="a_1"><br>
            <label for="a_2">나이:</label>
            <input type="text" id="add_a_2" name="a_2"><br>
            <label for="a_3">시간:</label>
            <input type="text" id="add_a_3" name="a_3"><br>
            <label for="link">링크</label>
            <input type="text" id="add_link" name="link"><br>
            
            <input class="button left" type="button" onclick="add_sub()" value="추가" style="margin-left:40%;">
        </form> 
       
        <h3>상품 수정</h3>
        <form action="/admin/updateProduct" method="post" id="up_form">
            <label for="name">s_n:</label>
            <input type="text" id="up_s_n" name="s_n"><br>		
            <label for="name">이름:</label>
            <input type="text" id="up_name" name="name"><br>
            <label for="price">가격:</label>
            <input type="text" id="up_price" name="price"><br>
            <label for="quantity">수량:</label>
            <input type="text" id="up_quantity" name="quantity"><br>
            <label for="a_1">인원:</label>
            <input type="text" id="up_a_1" name="a_1"><br>
            <label for="a_2">나이:</label>
            <input type="text" id="up_a_2" name="a_2"><br>
            <label for="a_3">시간:</label>
            <input type="text" id="up_a_3" name="a_3"><br>
            <label for="link">링크</label>
            <input type="text" id="up_link" name="link"><br>
            
            <input class="button" type="button" onclick="up_sub()" value="수정" style="margin-left:40%;">
        </form>
			
		<h3>상품 삭제</h3>
        <form action="/admin/deleteProduct" method="post">

		    <label for="s_n">상품 번호:</label>
		    <select id="s_n" name="s_n">
		        <option value="">상품을 선택하세요</option>
		        <th:block th:each="product : ${products}">
		            <option th:value="${product.s_n}" th:text="${product.s_n}"></option>
		        </th:block>
		    </select><br>
            <button class="button" type="submit">삭제</button>
        </form>	

		
       
    </div>
    
   	<footer>
	   <div class="f_left">
            <div><a href="/"><img src="/img/logo/logo_small.png"></a></div>
       </div>
	   <div class="f_center">
            <div>
            	<div>상호명: 보드게임즈</div>
            	<div>대표: 김진경</div>
            	<div>고객센터: 070-000-0000</div>
            	<div>사업장 주소: 경기도 화성시 병점동</div>
            </div>
       </div>
	</footer>
	
	<script>
		function add_sub(){
			const s_n=document.getElementById("add_s_n");
			const name=document.getElementById("add_name");
			const price=document.getElementById("add_price");
			const quantity=document.getElementById("add_quantity");
			const a_1=document.getElementById("add_a_1");
			const a_2=document.getElementById("add_a_2");
			const a_3=document.getElementById("add_a_3");
			const link=document.getElementById("add_link");
			
			if(s_n.value==""||name.value==""||price.value==""||quantity.value==""||a_1.value==""||a_2.value==""||a_3.value==""||link.value==""){
				alert("빈칸을 모두 채워주세요");return;
			}
			
			document.getElementById("add_form").submit();
		}
		
		function up_sub(){
			const s_n=document.getElementById("up_s_n");
			const name=document.getElementById("up_name");
			const price=document.getElementById("up_price");
			const quantity=document.getElementById("up_quantity");
			const a_1=document.getElementById("up_a_1");
			const a_2=document.getElementById("up_a_2");
			const a_3=document.getElementById("up_a_3");
			const link=document.getElementById("up_a_4");
			
			if(s_n.value==""||name.value==""||price.value==""||quantity.value==""||a_1.value==""||a_2.value==""||a_3.value==""||link.value==""){
				alert("빈칸을 모두 채워주세요");return;
			}
			
			document.getElementById("up_form").submit();
		}
	
	</script>
	
</body>
</html>